## Heart Disease dataset preprocessing

This excercise is done as part o Udemy course [Machine learning A-Z](http://udemy.com)

In [23]:
import pandas as pd

In [24]:
input_path = "datasets/heart_disease.csv"

In [25]:
dataset = pd.read_csv(input_path, header= None, na_values= '?')

reads data into Pandas Dataframe, replaces all question marks '?' in original dataset with NaN

In [26]:
dataset.head()

   0   1   2      3      4    5    6      7    8    9   10  11   12  13
0  28   1   2  130.0  132.0  0.0  2.0  185.0  0.0  0.0 NaN NaN  NaN   0
1  29   1   2  120.0  243.0  0.0  0.0  160.0  0.0  0.0 NaN NaN  NaN   0
2  29   1   2  140.0    NaN  0.0  0.0  170.0  0.0  0.0 NaN NaN  NaN   0
3  30   0   1  170.0  237.0  0.0  1.0  170.0  0.0  0.0 NaN NaN  6.0   0
4  31   0   2  100.0  219.0  0.0  1.0  150.0  0.0  0.0 NaN NaN  NaN   0

count number of null values for each column

In [29]:
dataset.isnull().sum(axis =0)

0       0
1       0
2       0
3       1
4      23
5       8
6       1
7       1
8       1
9       0
10    190
11    291
12    266
13      0
dtype: int64